@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./fonts.css";

:root {
  --font-inter: 'Inter';
  --font-libre: 'LibreBaskerville';
}

@layer base {
	html {
		font-family: Inter,system-ui, sans-serif;
	}
	body {
		background-color: #d3d3d3;
	}
	input[type='range']::-webkit-slider-thumb {
		width: 20px;
		-webkit-appearance: none;
		appearance: none;
		height: 20px;
		cursor: pointer;
		background: #fff;
		box-shadow: -405px 0 0 400px rgba(68, 104, 192, 0.71);
		border-radius: 50%;
	}
}
