@import url("https://fonts.googleapis.com/css2?family=Montserrat");
@import "./slider.css";

* {
	box-sizing: border-box;
}

body {
	background-color: #eeeff3;
	font-family: Montserrat, sans-serif;
	margin: 0;
}
a {
	display: inline;
	color: #fff;
	text-decoration: none;
}

.section {
	width: calc(100% - 2rem);
	min-height: 70vh;
	display: block;
	margin: 0 auto;
}
.field {
	display: flex;
	flex-direction: column;
	padding: 0.5rem 0;
}

.invitation,
.loan-params,
.client-info,
.finish {
	min-height: 70vh;
	display: flex;
	flex-direction: column;
	background-color: #ffff;
	border-radius: 10px;
	padding: 2rem;
	box-shadow: 0 1rem 1.5rem 0 rgb(0 0 0 / 8%);
}
.loan-terms ul {
	margin: 0;
	padding: 1rem 0;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: repeat(4, 3rem);
	list-style: none;
}
.loan-terms li {
	font-size: 18px;
	letter-spacing: 0.05em;
	padding: 0.5rem 0;
	border-bottom: 0.5px solid #bdc3c7;
}
.loan-terms ul :last-child {
	border-bottom: none;
}
button {
	display: inline;
	padding: 0.75rem 4rem;
	border-radius: 5px;
	border: none;
	font-family: Montserrat, sans-serif;
	background-color: #3498db;
	color: white;
	cursor: pointer;
}
button:hover {
	background-color: #2772a3;
}

input[type="text"] {
	width: 57%;
	padding: 1rem 1rem;
	font-size: 1rem;
	border: 1px solid #bdc3c7;
	border-radius: 0.25rem;
	margin: 3px 0;
}
input[type="number"] {
	font-family: inherit;
	width: calc(100% - 2rem);
	height: calc(100% - 2rem);
	padding: 1rem 1rem;
	font-size: 1rem;
	border: 1px solid #bdc3c7;
	border-radius: 0.25rem;
	margin: 0 0 2px 3px;
}

.finish svg {
	color: #27ae60;
	width: 4rem;
	height: 4rem;
}
.finish {
	justify-content: center;
}
.finish-message {
	padding: 1rem 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.finish-message h3 {
	margin: 0;
	font-size: 2rem;
	padding: 1rem 0;
	color: #27ae60;
}
span {
	font-size: 14px;
	color: red;
	margin-bottom: 5px;
}
.finish-message h3 {
	text-align: center;
	font-size: 28px;
	white-space: pre-wrap;
	padding: 1rem 1.5rem;
}

@media screen and (max-width: 425px) {
	.field {
		display: flex;
		flex-direction: column;
		padding: 0.5rem 0;
		align-items: baseline;
	}
	.invitation,
	.loan-params,
	.client-info,
	.finish {
		min-height: 70vh;
		padding: 1rem;
	}
	.invitation {
		justify-content: space-between;
	}
	.invitation-details {
		display: flex;
		flex-direction: column;
		align-content: space-around;
	}
	.client-info a {
		padding: 0.5rem 0;
	}
	input[type="text"] {
		width: calc(100% - 1rem);
		font-size: 1rem;
		border: 1px solid #bdc3c7;
		border-radius: 0.25rem;
		margin: 3px 0;
	}

	input[type="range"] {
		width: calc(100% - 4rem);
		height: calc(100% - 4rem);
		margin: 1rem 0;
	}

	.loan-terms ul {
		margin: 0;
		padding: 0.5rem;
		grid-template-rows: repeat(4, 4rem);
	}
	.loan-terms li {
		font-size: 14px;
		letter-spacing: 0.01em;
		padding: 0.5rem 0.5rem;
		border-bottom: 0.5px solid #bdc3c7;
		white-space: pre-line;
	}
}

@media screen and (min-width: 768px) {
	.section {
		width: calc(100% - 10rem);
	}
	.invitation,
	.loan-params,
	.client-info,
	.finish {
		padding: 2rem;
	}

	input[type="text"] {
		width: calc(100% - 1rem);
		font-size: 1rem;
		border: 1px solid #bdc3c7;
		border-radius: 0.25rem;
		margin: 3px 0;
	}
	.invitation {
		align-content: center;
		align-items: center;
		justify-content: space-around;
	}
	.client-info {
		align-items: center;
		justify-content: space-between;
	}
	.loan-params {
		align-items: center;
		justify-content: space-between;
	}

	form {
		margin: 0 auto;
		width: calc(100% - 5rem);
	}
}
